@import url("reset.css");
a {
  color: #fff;
}
.wrap {
  width: 100%;
}
.inner {
  margin: auto;
  max-width: 1200px;
  min-width: 200px;
}
/* 헤더 */
.header {
    min-width: 200px;
  background-color: black;
  color: #fff;
  padding: 20px 20px;
  align-items: center;
}
.header .inner {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu {
  display: flex;
  width: 50%;
  max-width: 500px;
  min-width: 365px;
  /* background-color: rgb(252, 12, 12); */
}
.menu li {
    font-size: 20px;
  width: calc(100% / 4);
  text-align: center;
  /* background-color: rgb(99, 99, 99); */
  padding: 10px 0;
}
.menu li:hover {
  background-color: rgb(71, 71, 71);
}
.hamburger {
  display: none;
}
.main {
  /* background-color: aqua; */
}
.card-list {
  padding: 20px 20px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2%;
  row-gap: 20px;
  text-align: center;
}
.card-list li {
  width: calc((100% - 6%) / 4);
  background-color: aliceblue;
  padding: 2%;
}
.card-list li:hover {
  background-color: rgb(218, 226, 233);
}
.card-list li a {
  color: black;
}
@media (max-width: 780px) {
  .hamburger {
    display: block;
    font-size: 25px;
  }
  .menu {
    display: none;
  }
  .card-list li {
    width: calc((100% - 4%) / 3);
  }
}
@media (max-width: 560px) {
  .card-list {
    row-gap: 10px;
  }
  .card-list li {
    width: calc((100% - 2%) / 2);
  }
}
@media (max-width: 300px) {
  .card-list li {
    width: 100%;
  }
}
